@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject UserManager<IdentityUser> UserManager
@using Entities.Dtos
@model TalkDtoForUpdate

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Görüşme Düzenle</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 30px;
        }

        h1 {
            margin-top: 0;
            margin-bottom: 20px;
            text-align: center;
            color: #4CAF50;
        }

        label {
            font-weight: bold;
        }

        select.form-select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            height: 150px;
        }

        button {
            transition: background-color 0.3s ease;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="display-4 text-center" style="color:#992441">Görüşme Düzenle</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="/@Model.CompanyLogoUrl" alt="Company Logo">
                    <div class="card-body">
                        <p class="card-text">@Model.CompanyName</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form method="post" asp-action="UpdateTalk" enctype="multipart/form-data">
                    <div class="text-danger mb-3" asp-validation-summary="All"></div>
                    <input type="hidden" asp-for="CompanyId" value="@Model.CompanyId" />
                    <input type="hidden" asp-for="CompanyName" value="@Model.CompanyName" />
                    <input type="hidden" asp-for="CompanyLogoUrl" value="@Model.CompanyLogoUrl" />

                    <div class="form-group my-3">
                        <label asp-for="TalkName">Görüşme Adı</label>
                        <input asp-for="TalkName" class="form-control" />
                    </div>

                    <div class="form-group my-3">
                        <label asp-for="Explanation">Görüşme Açıklaması</label>
                        <textarea asp-for="Explanation" class="form-control" rows="4">@Model.Explanation</textarea>
                    </div>

                    <div class="form-group my-3">
                        <label asp-for="Employee">Katılımcı Personel</label>
                        <select class="form-select" id="UserName" style="height: 50px;" asp-for="Employee">
                            @foreach (var user in await UserManager.Users.ToListAsync())
                            {
                                <option value="@user.UserName">@user.UserName</option>
                            }
                        </select>
                    </div>

                    <div class="form-group my-3">
                        <label asp-for="State">Görüşme Durumu</label>
                        <select id="State" class="form-select" style="height: 60px;" asp-for="State">
                            <option value="Randevu Planlanmadı">Randevu Planlanmadı</option>
                            <option value="Randevu Alındı">Randevu Alındı</option>
                            <option value="Tamamlandı">Tamamlandı</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group my-3">
                                <label asp-for="StartDate">Başlangıç Tarihi</label>
                                <input type="date" asp-for="StartDate" class="form-control"
                                    value="@Model.StartDate.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="form-group my-3">
                                <label asp-for="StartHour">Başlangıç Saati</label>
                                <input type="time" asp-for="StartHour" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group my-3">
                                <label asp-for="FinishDate">Bitiş Tarihi</label>
                                <input type="date" asp-for="FinishDate" class="form-control"
                                    value="@Model.FinishDate.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="form-group my-3">
                                <label asp-for="FinishHour">Bitiş Saati</label>
                                <input type="time" asp-for="FinishHour" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col text-center">
                            <div class="btn-group">
                                <button class="btn btn-outline-danger" asp-controller="Talk" asp-action="Index">
                                    <i class="fa-solid fa-arrow-left"></i>
                                    Geri
                                </button>
                                <input type="submit" class="btn btn-danger" value="Güncelle">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
